
@{
    ViewBag.Title = "Prices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prices:</h2>

<font color="red"><h4>Send 20 Dollars To PayPal Account: ahmdhoshanth@gmail.com And send me ScreenShot To com@hotmail.co.il</h4></font>
